.wallet-info {
    color: white;
    text-align: center;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 0;
    border-radius: 5px;
    
}

.wallet-address {
    background-color: #c267ee;
}

.wallet-disconnect {
    animation: gradient-animation 4s ease infinite;
    background-image: linear-gradient(to right, #c267ee 0%, #51daec 100%);
    cursor: pointer;
}

.wallet-connect {
    animation: gradient-animation 4s ease infinite;
    background-image: linear-gradient(to right, #c267ee 0%, #51daec 100%);
    cursor: pointer;
}

.wallet-info-container {
    position: absolute;
    top: 65px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}